/* Apply a linear gradient to the entire page */
body {
  background: linear-gradient(to right, #0e407a, #3085e7); /* Gradient from black to blue */
  color: white;  /* Set the default text color to white */
  margin: 0;     /* Remove default margin */
  min-height: 100vh; /* Make sure it covers the full height of the screen */
  overflow-x: hidden;  /* Disable horizontal scrolling */
}

html, body {
  height: 100%; /* Ensure the body takes up the full height of the page */
}
